        </div>

      </div>

      <div id="content_footer"></div>
      <div id="footer">

      <p>Copyright &copy; KEL Novi Sad 2017 | <a href="http://www.elektronika.ftn.uns.ac.rs/">web</a></p>
</div>
</div>
</body>
</html>
